{% extends "base.html" %}

{% block content %}
    <h2>Sustainable Restaurants</h2>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                <h3>{{ restaurant.name }}</h3>
                <p>{{ restaurant.description }}</p>
                <p><strong>Location:</strong> {{ restaurant.location }}</p>
                <p><strong>Eco-Friendly Features:</strong> {{ restaurant.sustainability_features }}</p>
            </li>
        {% empty %}
            <p>No restaurants added yet.</p>
        {% endfor %}
    </ul>
{% endblock %}
