# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the SQLite database (Should be removed in production, is not best practice to upload a database file to github)
#db.sqlite3
#db.sqlite3-journal

# Ignore Django secret settings (if stored in .env)
.env

# Ignore IDE settings 
.idea/
.vscode/

# Ignore log files
*.log

# Ignore migration cache 
**/migrations/*.pyc
**/migrations/__pycache__/
