{% extends "base.html" %}
{% block content %}
<H1>Manage Point Rewards</H1>
<h2>Items</h2>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Cost</th>
            <th>Item Image</th>
            <th>Item Slot</th>
            <th>Delete Item</th>
        </tr>
        {% for item in itemlist %}
        <tr>
            <td>{{item.itemName}}</td>
            <td>{{ item.itemCost}}</td>
            <td>{{ items.itemimage}}</td>
            <td>{{ item.itemslot}}</td>
            <td><form method = "POST">
                {% csrf_token %}
                <button type="submit" name="action" value ="delete {{item.itemid}}">Delete {{item.itemName }} {{item.itemslot }}</button>
            </form></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No items have been uploaded</td>
        </tr>
        {% endfor %}
    </table>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add a new item</h2>
    <label for="text">Item name:</label>
    <input type="text" id="itemName" name="itemName" required>

    <label for="number">Item Cost:</label>
    <input type="number" id="itemCost" name="itemCost" required>

    <label for="file">Image File (.PNG):</label>
    <input type="file" id="itemimage" name="itemimage" accept="image/png" required>

        <label for="itemslot">Item slot:</label>
            <select id="itemslot" name="itemslot">
            <option value="hat">Hat</option>
              <option value="border">border</option>
              <option value="namecard">namecard</option>
            </select>

    <button type="submit">Submit</button>
</form>

<h2>Purchases</h2>
    <table border="1">
        <tr>
            <th>User</th>
            <th>Item</th>
            <th>Equipped?</th>
        </tr>
        {% for purchase in purchaselist %}
        <tr>
            <td>{{purchase.user.user}}</td>
            <td>{{purchase.item.itemName}}</td>
            <td>{{purchase.equipState}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No purchases have been uploaded</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
